# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/nextjs-netninja/node_modules
/nextjs-netninja/.pnp
/nextjs-netninja/.pnp.js

# testing
/nextjs-netninja/coverage

# next.js
/nextjs-netninja/.next/
/nextjs-netninja/out/

# production
/nextjs-netninja/build

# misc
/nextjs-netninja/.DS_Store
/nextjs-netninja/*.pem

# debug
/nextjs-netninja/npm-debug.log*
/nextjs-netninja/yarn-debug.log*
/nextjs-netninja/yarn-error.log*

# local env files
/nextjs-netninja/.env.local
/nextjs-netninja/.env.development.local
/nextjs-netninja/.env.test.local
/nextjs-netninja/.env.production.local

# vercel
/nextjs-netninja/.vercel

# codevolution

# dependencies
/nextjs-codevolution/node_modules
/nextjs-codevolution/.pnp
/nextjs-codevolution/.pnp.js

# testing
/nextjs-codevolution/coverage

# next.js
/nextjs-codevolution/.next/
/nextjs-codevolution/out/

# production
/nextjs-codevolution/build

# misc
/nextjs-codevolution/.DS_Store
/nextjs-codevolution/*.pem

# debug
/nextjs-codevolution/npm-debug.log*
/nextjs-codevolution/yarn-debug.log*
/nextjs-codevolution/yarn-error.log*

# local env files
/nextjs-codevolution/.env.local
/nextjs-codevolution/.env.development.local
/nextjs-codevolution/.env.test.local
/nextjs-codevolution/.env.production.local

# vercel
/nextjs-codevolution/.vercel
